.facts-overview__aggrid {
  width: 100%;
  min-height: 600px;
}

.facts-overview {
  height: 100%;
}

.facts-overview__commandbuttons {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}
